<table class="table table-bordered table-hover dataTable" id="tblImport">
    <!--START HEADER TABLE-->
    <thead>
        <tr class="bg-custom-primary">
        <th width="10%">
            <%= __('Mã nhập hàng') %>
        </th>
        <th width="20%">
            <%= __('Tổng tiền') %>
        </th>
        <th width="20%">
            <%= __('Nhà cung cấp') %>
        </th>
        <th width="20%">
            <%= __('Nhập bởi') %> 
        </th>
        <th width="25%">
            <%= __('Ghi chú') %> 
        </th>
        <th width="5%">
            <%= __('') %>
        </th>
        </tr>
    </thead>
    <!--END HEADER TABLE-->
</table>